<style>
  #explanation {
    height: 100px;
    overflow-y: scroll;

  }

  #explanation:hover {
    overflow-y:scroll;

  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    width: 10px;
    height: 10px;

  }

  ::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 10px;

  }

  ::-webkit-scrollbar-thumb:hover{
    background: #333333;

  }


  



</style>


{% extends 'base.html' %}
{% block content %}

<img src="https://image.flaticon.com/icons/svg/252/252025.svg" width="50" align="left">
<h1>PAPORIKA의 사용법을 알려드릴게요!</h1>

<br>
<h2>step1. 메인 페이지에서 -멋쟁이 디자인 틀 만들기-를 눌러주세요.</h2>
<h2>step2. 템플릿 마켓을 구경하며 마음에 드는 PPT를 다운받으세요.</h2>
<h3>(만약, 마음에 드는 PPT가 없다면 나만의 피피티 만들기를 눌러주세요.)</h3>
<h2>step3. 링크 게시판에서 구경하면서  </h2>

<br>

<hr>

<div class="container" style="margin-top:50px;">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>템플릿 마켓</h2>
      <p id="explanation">
        템플릿 장터에서는 내가 만든 템플릿을 등록하고 판매하거나, 다른 사람이 만든 템플릿을 구매할 수 있어요.
      </p>
      <hr>
      <a class="btn btn-secondary" href="{% url 'store' %}" role="button">자세히 보기</a>
    </div>
    <div class="col-md-4">
      <h2>사이트 추천</h2>
      <p id="explanation">
        길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정길이측정
      </p>
      <hr>
      <a class="btn btn-secondary" href="{% url 'link' %}" role="button">자세히 보기</a>
    </div>
    <div class="col-md-4">
      <h2>꿀팁 게시판</h2>
      <p id="explanation">
        PPT 고수들의 꿀팁을 공유하는 공간이에요. 나만 알기엔 아까운 정보들을 마구마구 공유하고 고퀄리티 발표자료를 만들어 가요.
      </p>
      <hr>
      <a class="btn btn-secondary" href="{% url 'honeytip' %}" role="button">자세히 보기</a>
    </div>
  </div>

    
</div>


{% endblock %}