{% extends 'base.html' %}
{% block content %}
<!--

<h1>뉴 페이지~! 0_0 </h1>

<form method = 'POST' enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <br>
    <input type = "submit" value="등록">
</form>

-->
<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">
        <form method = 'POST' enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <br>
            <input type = "submit" value="등록">
        </form>  
      </h2>
    </div>
</div>






{% endblock %}